{% extends 'admin/layout.html.twig' %}

{% block title %}Nouvelle offre d'emploi{% endblock %}

{% block content_title %}Ajouter une offre d'emploi{% endblock %}

{% block page_actions %}
    <a href="{{ path('admin_job_offer_index') }}" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Retour à la liste
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Informations de l'offre</h5>
                </div>
                <div class="card-body">
                    {{ include('admin/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %} 