{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Post principal -->
            {{ include('post/_post_card_full.html.twig', { post: post }) }}
        </div>
    </div>
</div>
{% endblock %} 